body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.container-1,
.container-2,
.container-3,
.container-4 {
    height: 460px;
    display: flex;
    align-items: center;
    padding: 40px 250px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 250px;
    background-color: #1F2937;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.container-1 {
    background-color: #1F2937;
    justify-content: space-between;
    color: white;
    gap: 50px;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 800;
    padding: 8px 36px;
    border-radius: 8px;
    border: 0px;
    margin: 12px 0px;
}

.genius {
    width: auto;
    height: 350px;
}

.container-2 {
    flex-direction: column;
    justify-content: center;
}

.container-2-title {
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.container-2-bottom {
    display: flex;
    gap: 50px;
}

.content-box {
    text-align: center;
    width: 150px;
    align-items: center;
}

.box {
    box-sizing: border-box;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    border-color: #3882F6;
    border-width: 4px;
    border-style: solid;
}

.container-3 {
    background-color: #E5E7EB;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    height: 100px;
}